.*
!.gitattributes
!.gitignore
!/.vscode
/.vscode/*
!/.vscode/cpp_cache/*
!/.vscode/c_cpp_properties.json
!/.vscode/cspell.json
!/.vscode/noArm.h
!/.vscode/noX86.h
*~
\#*\#
.\#
*.backup
*.bak
*.o
tags
Thumbs.db
/build
/bin
